Total Credit Hours Required for the Major in Business and a Major Concentration in Finance48-51,Total Credit Hours Required for the BA Degree with a Major in Business120,\
Core Requirements \
BUSI 396BUSINESS COMMUNICATION3,Foundation,\
Select 1 course from the following:3-4 \
BUSI 395DATA ANALYTICS,STAT 310 / ECON 307PROBABILITY AND STATISTICS,\
STAT 315 / DSCI 301PROBABILITY AND STATISTICS FOR DATA SCIENCE \
ECON 100PRINCIPLES OF ECONOMICS 13,MATH 101SINGLE VARIABLE CALCULUS I3,\
or MATH 105 AP/OTH CREDIT IN CALCULUS I \
Major Concentration,Select 1 from the following Major Concentrations (see below for Major Concentration requirements):36-38,\
Finance \
Management,Total Credit Hours Required for the Major in Business48-51,\
Additional Credit Hours to Complete Degree Requirements *38-41 \
University Graduation Requirements *31,Total Credit Hours120,\
Business Core Requirements \
BUSI 305FINANCIAL ACCOUNTING3,BUSI 310LEADING PEOPLE IN ORGANIZATIONS3,\
BUSI 343FINANCIAL MANAGEMENT3 \
or ECON 343 CORPORATE FINANCE,Select 4 courses from the following:12-13,\
BUSI 374OPERATIONS MANAGEMENT \
BUSI 380MARKETING,BUSI 390STRATEGIC MANAGEMENT,\
BUSI 430MANAGEMENT ACCOUNTING \
ECON 200MICROECONOMICS,Major Concentration (Finance) Core Requirements,\
BUSI 401FINANCIAL STATEMENT ANALYSIS3 \
BUSI 447ADVANCED CORPORATE FINANCE3,BUSI 448INVESTMENTS3,\
BUSI 450DERIVATIVES3 \
Elective Requirement,Select 1 course from the following:3-4,\
BUSI 420LEADERSHIP AND TEAMS \
BUSI 421POWER, INFLUENCE AND ORGANIZATIONAL CHANGE,BUSI 422NEGOTIATIONS AND DECISION MAKING,\
BUSI 431ADVANCED STRATEGIC MANAGEMENT \
BUSI 432BUSINESS AND SOCIETY,BUSI 433TECHNOLOGY AND INNOVATION STRATEGY,\
BUSI 480MARKETING ANALYTICS \
ECON 203MACROECONOMICS,ECON 209APPLIED ECONOMETRICS,\
ECON 300GAME THEORY AND OTHER MICRO TOPICS FOR ECON MAJORS \
