Total Credit Hours Required for the Major in Philosophy30,Total Credit Hours Required for the BA Degree with a Major in Philosophy 120,\
Core Requirements \
Core Courses,PHIL 210LOGIC3,\
or PHIL 310 MATHEMATICAL LOGIC \
PHIL 281HISTORY OF PHILOSOPHY I3,PHIL 283HISTORY OF PHILOSOPHY II3,\
Areas of Study Requirements \
Group 1,Select 2 courses from the following:6,\
PHIL 318PHILOSOPHY OF LANGUAGE \
PHIL 320METAPHYSICS,PHIL 325PHILOSOPHY OF ART,\
PHIL 330PHILOSOPHY OF MIND \
PHIL 340PHENOMENOLOGY,PHIL 345THEORY OF KNOWLEDGE,\
PHIL 350PHILOSOPHY OF SCIENCE \
PHIL 353PHILOSOPHY OF BIOLOGY,PHIL 354THE PHILOSOPHY OF MEDICINE,\
PHIL 430ADVANCED TOPICS IN PHILOSOPHY OF MIND \
PHIL 431ADVANCED TOPICS IN THE SCIENCES OF THE MIND,PHIL 450ADVANCED TOPICS IN THE PHILOSOPHY OF SCIENCE,\
Group 2 \
Select 2 courses from the following:6,PHIL 360ETHICS,\
PHIL 361METAETHICS \
PHIL 362HISTORY OF ETHICS,PHIL 363MORAL PSYCHOLOGY,\
PHIL 370SOCIAL AND POLITICAL PHILOSOPHY \
PHIL 372HISTORY OF SOCIAL AND POLITICAL PHILOSOPHY,PHIL 373PHILOSOPHY OF LAW,\
PHIL 460ADVANCED TOPICS IN ETHICS \
PHIL 470ADVANCED TOPICS IN SOCIAL AND POLITICAL PHILOSOPHY,Elective Requirements,\
Select 3 elective courses from departmental (PHIL) course offerings 1,29 \
Total Credit Hours Required for the Major in Philosophy30,Additional Credit Hours to Complete Degree Requirements *59,\
University Graduation Requirements *31 \
