Total Credit Hours Required for the Major in Computer Science68-72,Total Credit Hours Required for the BSCS Degree120,\
Core Requirements \
Math Courses 1,MATH 101SINGLE VARIABLE CALCULUS I3,\
or MATH 105 AP/OTH CREDIT IN CALCULUS I \
MATH 102SINGLE VARIABLE CALCULUS II3,or MATH 106 AP/OTH CREDIT IN CALCULUS II,\
MATH 212MULTIVARIABLE CALCULUS3 \
or MATH 222 HONORS CALCULUS IV,or MATH 232 HONORS MULTIVARIABLE CALCULUS,\
Select 1 course from the following:3-4 \
ELEC 303RANDOM SIGNALS IN ELECTRICAL ENGINEERING SYSTEMS,STAT 310 / ECON 307PROBABILITY AND STATISTICS,\
STAT 311HONORS PROBABILITY AND MATHEMATICAL STATISTICS \
STAT 312PROBABILITY & STATISTICS FOR ENGINEERS,STAT 315 / DSCI 301PROBABILITY AND STATISTICS FOR DATA SCIENCE,\
Select 1 course from the following:3 \
CMOR 302MATRIX ANALYSIS,CMOR 303MATRIX ANALYSIS FOR DATA SCIENCE,\
MATH 221HONORS CALCULUS III \
MATH 354HONORS LINEAR ALGEBRA,MATH 355LINEAR ALGEBRA,\
Computer Science Courses \
COMP 140COMPUTATIONAL THINKING4,COMP 182ALGORITHMIC THINKING4,\
COMP 215INTRODUCTION TO PROGRAM DESIGN4 \
COMP 222INTRODUCTION TO COMPUTER ORGANIZATION4,COMP 301COMPUTER ETHICS3,\
COMP 312INTRODUCTION TO PROGRAMMING LANGUAGES3 \
COMP 318CONCURRENT PROGRAM DESIGN4,COMP 321INTRODUCTION TO COMPUTER SYSTEMS4,\
COMP 382REASONING ABOUT ALGORITHMS4 \
Select 1 course from the following:4,COMP 402PRODUCTION PROGRAMMING,\
COMP 410SOFTWARE ENGINEERING METHODOLOGY \
COMP 413DISTRIBUTED PROGRAM CONSTRUCTION,COMP 416GENOME-SCALE ALGORITHMS AND DATA STRUCTURES,\
COMP 460 / ARTS 460ADVANCED COMPUTER GAME CREATION \
COMP 461SENIOR DESIGN IN A ROBOTIZED WORLD,Breadth Requirements,\
Systems \
Select 1 course from the following:3-4,COMP 412COMPILER CONSTRUCTION FOR UNDERGRADUATE STUDENTS,\
COMP 421 / ELEC 421OPERATING SYSTEMS AND CONCURRENT PROGRAMMING \
COMP 422PARALLEL COMPUTING,COMP 427INTRODUCTION TO COMPUTER SECURITY,\
COMP 429 / ELEC 429INTRODUCTION TO COMPUTER NETWORKS \
COMP 436 / ELEC 410SECURE AND CLOUD COMPUTING,COMP 458QUANTUM COMPUTING ALGORITHMS,\
COMP 530DATABASE SYSTEM IMPLEMENTATION \
Application Domains,Select 1 course from the following:3-4,\
COMP 418IOT PROGRAMMING AND DATA ANALYSIS \
COMP 431WEB DEVELOPMENT,COMP 440 / ELEC 440ARTIFICIAL INTELLIGENCE,\
COMP 442REINFORCEMENT LEARNING \
COMP 447 / ELEC 447INTRODUCTION TO COMPUTER VISION,COMP 450 / ELEC 450 / MECH 450ALGORITHMIC ROBOTICS,\
COMP 459MACHINE LEARNING WITH GRAPHS \
COMP 462FUNDAMENTALS OF ROBOTIC MANIPULATION,Theory,\
Select 1 course from the following:3-4 \
COMP 409ADVANCED LOGIC IN COMPUTER SCIENCE,COMP 411PRINCIPLES OF PROGRAMMING LANGUAGES,\
COMP 414OPTIMIZATION: ALGORITHMS, COMPLEXITY AND APPROXIMATIONS \
COMP 416GENOME-SCALE ALGORITHMS AND DATA STRUCTURES,COMP 423INTRODUCTION TO MATHEMATICAL CRYPTOGRAPHY,\
COMP 448 / MATH 448CONCRETE MATHEMATICS \
COMP 463COMPUTER GRAPHICS,COMP 480PROBABILISTIC ALGORITHMS AND DATA STRUCTURE,\
COMP 481AUTOMATA, FORMAL LANGUAGES, AND COMPUTABILITY \
Elective Requirements,Select 2 courses from departmental (COMP) course offerings (a minimum of 3 credit hours each) at the 300-level or above 26,\
Total Credit Hours Required for the Major in Computer Science68-72 \
